*{
	box-sizing: border-box;
}

@font-face {
	font-family: Geneva;
	src: url(fonts/Geneva.eot);
	src: local(Geneva), url(fonts/Geneva.ttf);
}

h1{margin: 0;}

body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
/*CONTAINER*/
.container {
	width: 100%;
	max-width: 1440px;
	padding: 0 18px;
	margin: 0 auto;
}
._container{
  padding: 0;
}
.section{
	padding: 80px 0;
}
.section_AboutUs{
	background-color: #d3d2d0;
	padding-bottom: 50px;
}
.header{
	border-bottom: 1.5px #fff solid;
}
.intro{
	height: 100%;
	width: 100%;
	background: #131124;
	display: flex;
	flex-direction: column;
}

/*ХЭДЕР   -   Самая верхушка сайта*/
.header_logo{
	width: 12.63888889%;
}
.header_logo img{
	width: 100%;
}

.header_inner{
	padding: 40px 0 10px;
	display: flex;
	
	/*border: 1px solid silver;*/
	width: 100%;
}


.login_button{
	color: #fff;
	padding: 20px;
	align-self: center;
	transform: translate(0, -10px);
	cursor: pointer;
	position: relative;
}
.login_button:after{
	content: '';
	width: 45px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	z-index: 999;
	bottom: 5px;
	left: 50%;
	margin-left: -22.5px;

	opacity: 0;
	transition: opacity .3s linear;
}
.login_button:hover:after{
	opacity: 1;
}

.main_nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	position: relative;
	padding: 0;
	margin-bottom: 0;
}

.main_nav li{
	display: inline-block;
}
.menu_link{
	padding: 5px 0;
	background: none;
	transition: all .3s ease-in-out;
	position: relative;
	letter-spacing: 2px;
}
.menu_link:after{
	content: '';
	display: block;
	width: 100%;
	height: 3px;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	background-color: #5b5b59;
	opacity: 0;
	transition: opacity .2s linear;
}
.menu_link:hover:after{
	opacity: 1;
}

.menu_link a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.container_menu{
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	justify-content: space-between;
	flex-basis: 100%;
	flex-wrap: wrap;
}
.header_info{
	display: flex;
	justify-content: space-around;
	color: #fff;
	font-weight: 400;
	flex-wrap: wrap;
}
.adress i{
	color: #cb0000;
}
.buy-box{
	flex-grow: 1;
}
.buy-button{
	color: #282739;
	background-color: #fff;
	border: none;
	width: 75px;
	height: 22px;
	border-radius: 4px;
	transition: all .2s linear;
	cursor: pointer;
}
.buy-button:hover{
	color: #fff;
	background-color: #383749;
}
.buy-button:active{
	color: #fff;
	background-color: #282739;
}
.header_info div:nth-child(n+1):nth-child(-n+2){
	color: #d5b536;
	font-weight: 300;
}
.header_info div{
	/*border: 1px solid silver;*/
	text-align: right;
	padding: 0 10px;
}
.header_info div:first-child{
	padding-left: 0;
}.header_info div:last-child{
	padding-right: 0;
}
.header_menu{
	display: flex;
	justify-content: space-around;
	/*border: 1px solid silver;*/
}



/*ПОИСКОВИК*/
.search{
	padding-left: 25px;
}
.search form{
	display: flex;
}
.search input, .search button{
	border: none;
	outline: none;
	background: transparent;
	/*border: 1px #fff solid;*/
}
.search input{
	width: 600px;
	height: 40px;
	color: #fff;
	padding: 0 30px;

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.125rem;
}
.search input::placeholder{
	color: #ddd;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.125rem;
}
.search button{
	width: 50px;
	height: 40px;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	transform: scale(-1,1);
	padding: 0 0 0 20px;
}
.search button:before{
	content: "\f002";
  	font-family: FontAwesome;
  	font-size: 1.5rem;
  	color: #ccc;
  	transition: all .2s linear;
}

.search button:hover:before{
	color: #fff;
}
.search button:after{
	content: '';
	height: 100%;
	width: 1px;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
}



/*ОСНОВНОЙ БЛОК стартовой страницы*/
.main_block{
	display: flex;
	justify-content: space-between;
	margin: 0 0 100px;
}
.right_menu{
	position: absolute;
	z-index: 1;
	top: 30px;
	left: 30px;
	height: 86%;
	width: 13%;
}
.right_menu-link{
	text-align: center;
	background-color: rgba(184, 180, 180, .7);
	padding: 3px 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 3px 0;
	height: 11%;
	transition: transform .2s ease-in-out;
}
.right_menu-link a{
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0 auto;
}
.right_menu-link:hover{
	transform: scale(1.07);
}
.left_menu{
	position: absolute;
	z-index: 1;
	top: 30px;
	right: 30px;
	height: 85%;
	width: 13%;
}
.left_menu-link{
	text-align: center;
	background-color: rgba(184, 180, 180, .7);
	padding: 0 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 3px 0;
	height: 11%;
	transition: transform .2s ease-in-out;
}
.left_menu-link a{
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0 auto;
}
.left_menu-link:hover{
	transform: scale(1.07);
}


/*AABOUT US*/
.section_header{
	text-align: center;
	position: relative;
	margin-bottom: 60px;
}
.about_us-h1{
	text-transform: uppercase;
	color: #000119;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: inline-block;
	line-height: 1;
}
.about_us-h1::after{
	content: "";
	display: block;
	width: calc(50% - 15%);
	height: 3px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 24px;
}
.about_us-h1::before{
	content: "";
	display: block;
	width: calc(50% - 15%);
	height: 3px;
	background: #fff;
	position: absolute;
	right: 0;
	top: 24px;
}
.about_us-box{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 20px 0 15%;
}
.about_us-text{
	width: 500px;
	margin-right: 40px;
}
.about_us-text h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.about_us-text p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.map-box{
	width: 37.777778%;
	margin-left: 40px;
}
.read_more{
	color: #FFB02E;
}


/*NEW PRODUCTS*/
.new_product{
	margin-top: 60px;
}
.new_product-container{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
.product{
	text-align: center;
	margin: 25px 15px;
	width: 30%;
	height: 200px;
	background: #999;
	overflow: hidden;
	position: relative;

	box-shadow: 0 0 10px 1px #444;
}
.product_name{
	position: absolute;
	left: 8%;
	bottom: 0;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #fff;
	letter-spacing: 1px;
}
.product_img{
	width: 100%;
	height: 100%;
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
	transition: transform .2s linear, filter .2s linear;
}
.product_img:hover{
	transform: scale(1.1);
	cursor: pointer;
	-webkit-filter: brightness(90%);
	filter: brightness(90%);
}



/*УДОБНЕЕ СВЯЗАТЬСЯ С НАМИ ????*/
.whatsapp{
	background-color: #fff;
	-webkit-box-shadow: 0 -5px 30px -4px #999;
	box-shadow: 0 -5px 30px -4px #999;
	text-align: center;
}
.whatsapp_header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.whatsapp_text{

}
.whatsapp_img{
	width: 5%;
	height: 5%;
	margin-left: 40px;
	transform: translate(0, 10px);
}


/*НАШИ ПРЕИМУЩЕСТВА*/
.our_dignity{
	background-color: #131124;
}
.ODstylized_h1{
	text-transform: uppercase;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: inline-block;
	line-height: 1;
}
.ODstylized_h1:after{
	content: "";
	display: block;
	width: calc(50% - 30%);
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 24px;
}
.ODstylized_h1:before{
	content: "";
	display: block;
	width: calc(50% - 30%);
	height: 2px;
	background: #fff;
	position: absolute;
	right: 0;
	top: 24px;
}

.OD_container-1{
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	margin-left: 110px;
}
.dignity-box{
	flex-basis: 31%;
}
.mb60px{
	margin-bottom: 60px;
}
.stylized_h2{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.stylized_h3{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 2.8125rem;
}
.dignity_text{
	font-size: 1.5rem;
	color: #d3d2d6;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.stylized_h3, .stylized_h2, .dignity_text{
	margin: 0 auto;
}
.gradient_text{
	background: url(images/text.png) 
	center/cover no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.OD_container-2{
	display: flex;
	justify-content: space-around;
}
.OD_column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 100px;
}
.dignity-box-v2{
	flex-basis: 140px;
	align-content: space-around;
}







/*НАШИ ПАРТНЁРЫ*/
.partners_container{
	background: #fff;
}
.partners_title{
	text-align: center;
	width: 100%;
}
.partners_title h2{
	text-transform: uppercase;
	color: #242237;
	font-size: 2.8125rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.partners{
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.partners-inner{
	flex-basis: 16%;
	overflow: hidden;
	align-items: center;
	margin: 1% 0;

	border-radius: 2px;
	border: 2px #0041a4 solid;
}
.partners-inner img{
	width: 100%;
	height: 100%;
}














.f10{font-size: 0.625rem;}
.f11{font-size: 0.6875rem;}
.f12{font-size: 0.75rem;}
.f13{font-size: 0.8125rem;}
.f14{font-size: 0.875rem;}
.f15{font-size: 0.9375rem;}
.f16{font-size: 1rem;}
.f17{font-size: 1.0625rem;}
.f18{font-size: 1.125rem;}
.f19{font-size: 1.1875rem;}
.f20{font-size: 1.25rem;}
.f21{font-size: 1.3125rem;}
.f22{font-size: 1.375rem;}
.f23{font-size: 1.4375rem;}
.f24{font-size: 1.5rem;}
.f25{font-size: 1.5625rem;}
.f26{font-size: 1.625rem;}
.f27{font-size: 1.6875rem;}
.f28{font-size: 1.75rem;}
.f29{font-size: 1.8125rem;}
.f30{font-size: 1.875rem;}
.f31{font-size: 1.9375rem;}
.f32{font-size: 2rem;}
.f33{font-size: 2.0625rem;}
.f34{font-size: 2.125rem;}
.f35{font-size: 2.1875rem;}
.f36{font-size: 2.25rem;}
.f37{font-size: 2.3125rem;}
.f38{font-size: 2.375rem;}
.f39{font-size: 2.4375rem;}
.f40{font-size: 2.5rem;}
.f41{font-size: 2.5625rem;}
.f42{font-size: 2.625rem;}
.f43{font-size: 2.6875rem;}
.f44{font-size: 2.75rem;}
.f45{font-size: 2.8125rem;}
.f46{font-size: 2.875rem;}
.f47{font-size: 2.9375rem;}
.f48{font-size: 3rem;}
.f49{font-size: 3.0625rem;}
.f50{font-size: 3.125rem;}
.f51{font-size: 3.1875rem;}
.f52{font-size: 3.25rem;}
.f53{font-size: 3.3125rem;}
.f54{font-size: 3.375rem;}
.f55{font-size: 3.4375rem;}
.f56{font-size: 3.5rem;}
.f57{font-size: 3.5625rem;}
.f58{font-size: 3.625rem;}
.f59{font-size: 3.6875rem;}
.f60{font-size: 3.75rem;}
.f61{font-size: 3.8125rem;}
.f62{font-size: 3.875rem;}
.f63{font-size: 3.9375rem;}
.f64{font-size: 4rem;}
.Noto{
	font-family: "Noto", serif;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 40px;
}


